Clases/__pycache__/Visor.cpython-314.pyc
Clases/__pycache__/ClienteHTTP.cpython-314.pyc
Clases/__pycache__/Historial.cpython-314.pyc
Clases/__pycache__/MotordeBusqueda.cpython-314.pyc
Clases/__pycache__/AsistenteIA.cpython-314.pyc
Clases/__pycache__/Favoritos.cpython-314.pyc
Clases/__pycache__/Navegador.cpython-314.pyc
Clases/__pycache__/Pestaña.cpython-314.pyc

